
@{
    ViewBag.Title = "ViewHistory";
}

<h2>ViewHistory</h2>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@*<script>
        function f1() {
            //alert(dl)
            alert("hi")
            $.ajax({
                url: "https://localhost:44337/api/BusBooking/getbus1",
                method: "GET",
                success: function (BusData) {

                    var bid = [];

                    for (var i = 0; i < BusData.length; i++) {
                        bid.push(BusData[i]);

                    }
                    alert(bid.length)
                    $.ajax({

                        url: "https://localhost:44337/api/BusBooking/getschedule",

                        method: "GET",

                        success: function (getschedule) {

                            var sid = [];
                            for (var i = 0; i < getschedule.length; i++) {

                                if (bid.length != 0) {


                                    for (var j = 0; j < bid.length; j++) {
                                        if (bid[j].BusID === getschedule[i].BusID) {

                                            sid.push(getschedule[i]);
                                        }

                                    }

                                }
                            }
                            alert("Hi")
                            alert(sid.length)
                            $.ajax({
                                url: "https://localhost:44337/api/BusBooking/getroute",
                                method: "GET",
                                success: function (getroute) {
                                    var rid = [];

                                    for (var i = 0; i < getroute.length; i++) {
                                        if (sid.length != 0) {

                                            for (var j = 0; j < sid.length; j++) {

                                                if (sid[j].RouteID == getroute[i].RouteID) {

                                                    rid.push(getroute[i]);
                                                }

                                            }

                                        }

                                    }
                                    alert("good")
                                    alert(rid.length)
                                    $.ajax({
                                        url: "https://localhost:44337/api/BusBooking/TicketBooking",
                                        method: "GET",
                                        success: function (getTicket) {
                                            var tid = [];

                                            for (var i = 0; i < getTicket.length; i++) {
                                                if (sid.length != 0) {

                                                    for (var j = 0; j < sid.length; j++) {
                                                        if (sid[j].ScheduleID == getTicket[i].ScheduleId) {

                                                            tid.push(getTicket[i]);
                                                        }

                                                    }

                                                }

                                            }

                                            alert("Hello");
                                            alert(tid.length);

                                    $.ajax({
                                        url: "https://localhost:44337/api/BusBooking/getcustomers",
                                        method: "GET",
                                        success: function (getcustomer) {
                                            var cid = [];

                                            for (var i = 0; i < getcustomer.length; i++) {
                                                if (tid.length != 0) {

                                                    for (var j = 0; j < tid.length; j++) {
                                                        if (tid[j].CustomerID == getcustomer[i].CustomerID) {

                                                            cid.push(getcustomer[i]);
                                                        }

                                                    }

                                                }

                                            }
                                    alert("Bye")
                                            alert(cid.length);
                                            $.ajax({
                                                url: "https://localhost:44337/api/BusBooking/getPassengers",
                                                method: "GET",
                                                success: function (getPassenger) {
                                                    var pid = [];

                                                    for (var i = 0; i < getPassenger.length; i++) {
                                                        if (tid.length != 0) {

                                                            for (var j = 0; j < tid.length; j++) {
                                                                if (tid[j].TicketID == getPassenger[i].TicketId) {

                                                                    pid.push(getPassenger[i]);
                                                                }

                                                            }

                                                        }

                                                    }
                                                    alert("How");
                                                    alert(pid.length);

                                    var fd = "";

                                    for (var i = 0; i < bid.length; i++) {

                                        fd = fd + " BusID: " + bid[i].BusID + " BusName: " + bid[i].BusName + " Time: " + sid[i].Time + " Cost: " +

                                            sid[i].Cost + " " + "Availabale seats" + sid[i].AvailableSeats+" "+"NumberofTickets"+tid[i].NumberOfTickets
                                            + " " + "Status " + pid[i].Status + " " + "TicketID" + tid[i].TicketID + "<br>";

                                        //alert(fd);

                                        $("#w").html(fd);
                                    }


                                },
                                error: function (error) {
                                    console.error("Error fetching data from Bus API");
                                }
                            });
                        },
                        error: function (error) {
                            console.error("Error fetching data from Schedule API");
                        }


                    });


                },
                error: function (error) {
                    console.error("Error fetching data from Route API");
                }
            });
        },
        error: function (error) {
            console.error("Error fetching data from Route API");
                }
            });
        },
        error: function (error) {
            console.error("Error fetching data from Route API");
                }
            });
        },
        error: function (error) {
            console.error("Error fetching data from Route API");
        }

            });
        }
    </script>
    <style>
        .error {
            color: red;
        }
    </style>
        <div id="w" style="margin-bottom:auto;">

        </div>
        <input type="button" onclick="f1()" value="Search" />*@


<script>

    $(document).ready(function () {
        /* alert($("#CustomerID").val());*/

        $.ajax({
            url: "https://localhost:44337/api/BusBooking/getHistory/" + $("#CustomerID").val(),

            method: "GET",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                var s = ''
                for (i = 0; i < msg.length; i++) {
                    //s = s + msg[i].CustomerID + msg[i].TicketId + msg[i].FromLocation + msg[i].ToLocation + msg[i].NumberOfTickets + msg[i].Status + msg[i].DateOfJourney + msg[i].Time
                    //    + msg[i].DateofBooking
                    s = s + msg[i].Time+msg[i].ToLocation;
                   
                    $("#w").html(s);

                }
               
            },
            error: function (x, res) {
                alert(x.responseText);

            }
        });

    });
</script>



<style>
    .error {
        color: red;
    }
</style>
<div id="w" style="margin-bottom:auto;">
    @Html.Hidden("CustomerID", null, new { Value = ViewBag.custId })
</div>



