@model BusTicketBooking.Models.BusEx
@{
    ViewBag.Title = "insertcustomerdetails";
}
<style>
    .error{
        color:red;
    }
</style>
<h2>insertcustomerdetails</h2>
@using (Html.BeginForm("insertCD","Bus"))
{
   
                <table>
                    <tr>
                        <td>CustomerId</td>
                        <td>@Html.TextBoxFor(e => e.CustomerID)</td>
                        <td class="error">@Html.ValidationMessageFor(e => e.CustomerID)</td>
                    </tr>
                    <tr>
                        <td><input type="submit"/></td>
                    </tr>
                </table>
    
    if (ViewBag.msg != null)
                {
                    @ViewBag.msg
                }
}

